<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="footer.css">
	<script type="text/javascript">
        var XMLHttpRequestObject = false;

        if (window.XMLHttpRequest) {
            XMLHttpRequestObject = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            XMLHttpRequestObject =
              new ActiveXObject("Microsoft.XMLHTTP");
        }
        function getData(datasource, divID) {
            if (XMLHttpRequestObject) {
                var obj = document.getElementById(divID);
                XMLHttpRequestObject.open("GET", datasource, true);
                XMLHttpRequestObject.onreadystatechange = function () {
                    if (XMLHttpRequestObject.readyState == 4 
                     && XMLHttpRequestObject.status == 200) {
                        obj.innerHTML = 
                        XMLHttpRequestObject.responseText;
                    }
                }
                XMLHttpRequestObject.send(null);
            }
        }
    </script>
	<title>Welcome to the Bank</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><!-- load fontawesome -->
	<style>
	
		body {
/* 			background: url('https://rawgit.com/haitte/mystudentbank/master/public/images/bo_play_pattern.png'); */
			padding-top:80px;
		}
		.jumbotron {
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(0, 0, 0, 0.4); 
		}
		.vido{
			height:100px;
		}
		video#bgvid { 
			position: relative;
			top: 50%;
			left: 50%;
			min-width: 100%;
			width: auto;
			height: auto;
			z-index: -100;
			-ms-transform: translateX(-50%) translateY(-50%);
			-moz-transform: translateX(-50%) translateY(-50%);
			-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
			background: url(polina.jpg) no-repeat;
			background-size: cover; 	
		}
		#heading{
			color: #fff;
		}
		#clear{
			clear:both;
		}
		.mm{
			margin-top:300px;
		}
	</style>
	<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
</style>
  <style>
table,th,td {
  border : 1px solid black;
  border-collapse: collapse;
}
th,td {
  padding: 5px;
}
</style>
<script>
	function loadDoc() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myFunction(this);
			}
		};
		xhttp.open("GET", "/option.xml", true);
		xhttp.send();
	}
	function myFunction(xml) {
		var i;
		var xmlDoc = xml.responseXML;
		var table="<tr><th>TYPE</th><th>MAX</th><th>DE</th><th>CO</th></tr>";
		var x = xmlDoc.getElementsByTagName("OPTION");
		for (i = 0; i <x.length; i++) { 
			table += "<tr><td>" +
			x[i].getElementsByTagName("TYPE")[0].childNodes[0].nodeValue +
			"</td><td>" +
			x[i].getElementsByTagName("MAX")[0].childNodes[0].nodeValue +
			"</td><td>" +
			x[i].getElementsByTagName("DE")[0].childNodes[0].nodeValue +
			"</td><td>" +
			x[i].getElementsByTagName("CO")[0].childNodes[0].nodeValue +
			"</td></tr>";
		}
		document.getElementById("demo").innerHTML = table;
	}
</script>
</head>
<body>
	<div class=vido>
	<video playsinline autoplay muted loop poster="polina.jpg" id="bgvid">
    <source src="https://rawgit.com/haitte/mystudentbank/master/public/videos/618513234.mp4" type="video/mp4">
	</video>
		</div>
    <div class="container2">
        <div class="jumbotron text-center">
					<h1 id="heading"><span class="fa fa-university"></span>Irish Student Bank</h1>
					<%if (!locals.customer) { %>
						<a href="/login" class="btn btn-success"><span class="fa fa-sign-in"></span> Login</a>
            <a href="/signup" class="btn btn-success"><span class="fa fa-use r"></span>Signup to use Internet Banking</a>
					<% } %>
					<%if (locals.customer) { %>
						<a href="/account" class="btn btn-success"><span class="fa fa-bank"></span> View Your Account</a>
            <a href="/logout" class="btn btn-danger"><span class="fa  fa-sign-out"></span>Logout</a>
					<% } %>
        </div>
    </div>
	
<div id ="clear">
</div>
	
	<div id="targetDiv" class="container" style="margin-top:300px;">
<h1><b>Insurance</b></h1>
<h2><b>Features & Benefits</b></h2>
<h3>Student Health Insurance</h3>
<p>The Student Secure plan provides international student health insurance to both international and study abroad students who are studying outside of their home country either in the USA or around the world. This comprehensive student health insurance plan offers coverage on a monthly basis that will meet and exceed nearly all school and government requirements, and for those students on the J1 and F1 visa (even those on OPT) you are automatically eligible for coverage.
</p>
<b>Plan Level Options</b>
<p>The Student Secure comes in four plan levels; Smart, Budget, Select and Elite - providing you with the plan choices you need from the basic level, right up to the most comprehensive Elite plan. It also includes coverage for mental health, maternity, pre-existing conditions - benefits required by most schools.</p>

  
  <button type="button" onclick="loadDoc()">Plan Level Options</button>
<br><br>
  
<table id="demo"></table>
  <br>
   <h3>Travel Medical Insurance</h3>
<p>The Atlas Travel plan provides international travel medical insurance coverage for those who are traveling, studying or living abroad around the world, outside of your home country. It offers core travel insurance benefits, with coverage from as little as 5 days. </p>
<p>The benefits offered on the Atlas Travel plan provide a range of high quality travel insurance benefits that are designed to cover you in the event of an unexpected accident or injury when you are abroad. This includes coverage for medical expenses, evacuation, repatriation, emergency reunion and other related benefits.</p>

<h3>Major Medical Insurance</h3>
<p>The Global Medical International Major Medical Insurance plan is available to both US and non-US citizens who are planning to live, study or work outside of their home country for at least one year or more. The annual major medical insurance plan is designed to provide comprehensive international health insurance coverage for when you are abroad for a length of time.</p>
<p>As needs and requirements vary so greatly, the Global Medical insurance plan is designed to offer a range of benefits and coverage limits to suit all needs. Starting off with the Bronze plan, offering base coverage, then moving to the Silver, Gold and Gold Plus, and finally to the Platinum plan for those looking for the best coverage possible.</p>

<div class="container" style="margin-bottom: 30px;">
  <button type="button" class="btn w3-white w3-border w3-border-orange w3-round-xlarge btn-md"><a href="products.html">Get back</a></button>    
</div>
</div>

		
		
		
	<!-- Footer -->
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row copy-right" style="padding-top: 10px; margin-top: 30px;">
					    <div class="col-md-3">
							<h3 class="section-title">Our Address</h3>
							<ul class="contact-info">
								<center><li><img src="images/address.png" alt="account" style="width:30px;height:30px;"> South-East Inner City, Dublin, Ireland</li>
								<li><img src="images/phone.png" alt="account" style="width:30px;height:30px;margin-right:10px;">+ 1235 2355 98</li>
								<li><img src="images/email.png" alt="account" style="width:30px;height:30px;margin-right:10px;"><a href="https://www.google.com/gmail/">info@studentonlinebank.com</a></li>
									<li><img src="images/web.png" alt="account" style="width:30px;height:30px;margin-right:10px;"><a href="index.html">www.studentonlinebank.com</a></li></center>
							</ul>
						</div>
						<div class="col-md-3">
							<h3 class="section-title" style="text-align:center">Our Products</h3>
							<ul class="product-info">
								<center><li><a href="products.html">Student Current Account</a></li>
								<li><a href="products.html">Credit Card</a></li>
								<li><a href="products.html">Mortgages</a></li>
								<li><a href="products.html">Personal Loan</a></li>
								<li><a href="products.html">Business Loan</a></li>
									<li><a href="products.html">Personal Planning</a></li></center>
							</ul>
						</div>
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="https://twitter.com/?lang=en"><img src="images/twitter.png" alt="account" style="width:40px;height:40px;margin-right:30px;"></a>
								<a href="https://www.facebook.com/"><img src="images/facebook.png" alt="account" style="width:40px;height:40px;margin-right:30px;"></a>
								<a href="https://www.instagram.com/?hl=en"><img src="images/instagram.png" alt="account" style="width:40px;height:40px;margin-right:30px;"></a>
								<a href="https://www.youtube.com/"><img src="images/youtube.png" alt="account" style="width:40px;height:40px;margin-right:30px;"></a>
							</p>
							<p>&copy; 2016 <a href="index.html">Student Bank</a> </p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>


	<script src="js/jquery.min.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="js/main.js"></script>
</body>
</html>