<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Welcome to our Bank</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
	<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.27/jquery.autocomplete.js"></script>
	<!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; background: url('https://rawgit.com/haitte/mystudentbank/master/public/images/wov.png'); }
	</style>
	<script>
		$( document ).ready(function() {
    console.log( "ready!" );
			var countries = [
		 { value: 'Andorra', data: 'AD' },
		 { value: 'Zimbabwe', data: 'ZZ' }
		];

		$('#autocomplete').autocomplete({
				lookup: countries,
				onSelect: function (suggestion) {
						alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
				}
		});
});
		
	</script>
	
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<div class="well">
	<form action="/signup" method="post">
		<div class="form-group-sm ">
			<label>First Name</label>
			<input type="text" class="form-control input-sm" name="fname" required>
		</div>
		<div class="form-group-sm">
			<label>Last Name</label>
			<input type="text" class="form-control input-sm" name="lname" required>
		</div>
		<div class="form-group-sm">
			<label>City</label>
			<input type="text" class="form-control input-sm" name="city" id="autocomplete" required>
		</div>
		<div class="form-group-sm">
			<label>Phone Number</label>
			<input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" class="form-control input-sm" name="contact" placeholder="xxx-xxx-xxxx"required>
		</div>
		<div class="form-group-sm">
      <label for="sel1">Select an Account Type </label>
      <select class="form-control input-sm" name="actype">
        <option>Savings</option>
        <option>Checking</option>
      </select>
		</div>
		<div class="form-group-sm">
			<label>Email</label>
			<input type="email" class="form-control input-sm" name="email" required>
		</div>
		<div class="form-group-sm">
			<label>Password</label>
			<input class="form-control input-sm" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="password" onchange="
  this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
  if(this.checkValidity()) form.pwd2.pattern = this.value;
">
		</div>	
		<div class="form-group-sm">
			<label>Confirm Password</label>
			<input class="form-control input-sm" title="Please enter the same Password as above" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd2" onchange="
  this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
">
		</div>
		
		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>
	</div>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>